<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Homepage</title>
        <style>
            .poppins-light {
                font-family: "Poppins", serif;
                font-weight: 300;
                font-style: normal;
            }

            body {
                height: 100%;
                width: 100%;
                /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
                background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
            }

            .container {
                margin: auto;
                display: flex;
                gap: 10px;
            }

            .card {
                /* position: relative; */
                height: 39vh;
                padding: 10px;
                font-size: smaller;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .btn {
                position: absolute;
                bottom: 0;
                top: 3;
                /* margin-top: 10px; */
                margin-bottom: 5px;
            }

            .Headers {
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 50%;
                justify-content: center;
                align-items: center;
                padding: 7px;
                line-height: 0%;
            }

            .heading {
                font-size: large;
                font: bold;
            }

            .logbtn {
                background-color: #007bff;
                color: white;
                font-size: 16px;
                padding: 10px 20px;            
                border: none;       
                border-radius: 5px;
                height: 5vh;
                cursor: pointer;            
                transition: background-color 0.3s ease, transform 0.2s ease;
            }

            /* Hover state */
            .logbtn:hover {
                background-color: #0056b3;
                transform: scale(1.05);
            }
            .cardCont {
                margin-bottom: 20px;
            }
        </style>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
</head>

<body class="poppins-light">

    <%- include('./partials/nav') %>

        <div class="container Headers  mt-4">
            <p class="heading">EVERYTHING IS PERSONAL - SO IS YOUR BLOG</p>
            <h1 class="create">CREATE YOUR FIRST BLOG</h1>

            <!-- <button class="btn btn-primary"><a class="nav-link active" aria-current="page" href="/blog/add-new">AddBlog</a></button>
     
                <button class="btn btn-primary"><a class="nav-link active" aria-current="page" href="/user/signin">Login</a></button> -->
            <% if(locals.user) { %>
                <button class="logbtn"><a class="nav-link active" href="/blog/add-new">Get Started</a></button>
            <% } else { %>
                <button class="logbtn"><a class="nav-link active" href="/user/signin">Get Started</a></button>
            <% } %>
        </div>

        <!-- fetch 'blogs' from locals and display them as cards -->
        <div class="cardCont container mt-5 row row-cols-3">
            <% blogs.forEach(blog=> { %>
                <div class="card col" style="width: 18rem;">
                    <img src="<%= blog.coverImgURL %>" class="card-img-top" alt="" height="150px">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= blog.title %>
                        </h5>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">VIEW</a>
                    </div>
                </div>
                <% }); %>
        </div>


        <%- include('./partials/scripts') %>
</body>

</html>

<!-- JSON.stringify(blogs) -->
<!-- JSON.stringify(locals.user) -->